<a href="https://colab.research.google.com/github/ipeirotis/dealing_with_data/blob/master/03-Pandas/A2-Introduction_to_Pandas-NYPD_Vehicle_Collisions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

## Setup and preliminaries

In [ ]:
!pip3 install -U -q PyMySQL sqlalchemy sql_magic xlrd

# Render our plots inline
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# Make the graphs a bit bigger
matplotlib.style.use(['seaborn-talk', 'seaborn-ticks', 'seaborn-whitegrid'])

## Exercise: NYPD Vehicle Collisions

* We interacted with the NYC Restaurant Inspection Data. Now, let's download another dataset, and do some analysis. We will focus on the [NYPD Vehicle Collisions](https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95/data) data set.

### Task 1 

Load the dataset. We will need to load two tables:
* `collisions`
* `vehicles_involved`

In [ ]:
import os
from sqlalchemy import create_engine

conn_string = 'mysql+pymysql://{user}:{password}@{host}/{db}?charset=utf8mb4'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    password = 'dwdstudent2015', 
    db = 'collisions',
    encoding = 'utf8mb4')

mysql_conn = create_engine(conn_string).connect()

In [ ]:
# This query returns back the collisions table
sql = '''
    #YOUR CODE HERE
'''
c = pd.read_sql(sql, con=mysql_conn)
c

In [ ]:
# This query returns back the vehicles_involved table
sql = '''
    #YOUR CODE HERE
'''
v = pd.read_sql(sql, con=mysql_conn)
v

#### Solution

In [ ]:
# This query returns back the collisions table
sql = '''
	SELECT * 
  FROM collisions
'''
c = pd.read_sql(sql, con=mysql_conn)
c

In [ ]:
# This query returns back the vehicles_involved table
sql = '''
	SELECT * 
  FROM vehicles_involved
'''
v = pd.read_sql(sql, con=mysql_conn)
v

In [ ]:
c.dtypes

In [ ]:
v.dtypes

### Task 2

Find out the most common contributing factors to the collisions.

#### Solution

In [ ]:
# Task 2: Find out the most common contributing factors to the collisions.
v['CAUSE'].value_counts() #.plot(kind='barh')

In [ ]:
# Task 2: If we want to remove the "Unspecified", we select the elements starting
# from position 1 (i.e., the second element in the list, the first one is 0)
v['CAUSE'].value_counts()[1:10].plot(kind='barh')

### Task 3

Break down the number of collisions by borough.

#### Solution

In [ ]:
# Task 3: Break down the number of collisions by borough.
c['BOROUGH'].value_counts().plot(kind='barh', figsize=(10,5))

### Task 4

Find out the how many collisions had 0 persons injured, 1 persons injured, etc. persons injured in each accident. Use the `value_counts()` approach. You may also find the `.plot(logy=True)` option useful when you create the plot to make the y-axis logarigthmic.

#### Solution

In [ ]:
# "Chain" style of writing data maniputation operations
plot = (
    c['PERSONS_INJURED'] # take the num of injuries column
    .value_counts() # compure the freuquency of each value
    .sort_index() # sort the results based on the index value instead of the frequency, 
                  # which is the default for value_counts
    .plot( # and plot the results
        kind='line', # we use a line plot because the x-axis is numeric/continuous
        marker='o',  # we use a marker to mark where we have data points 
        logy=True # make the y-axis logarithmic
    )
)
plot.set_xlabel("Number of injuries")
plot.set_ylabel("Number of collisions")
plot.set_title("Analysis of number of injuries per collision")
pass

### Task 5

(a) Compute the average number of injuries and deaths per accident, broken down by borough. Use the `pivot_table` functionality, putting `BOROUGH` as the index. You can answer this query by generating two separate tables, or you can create a single table by using the fact that you can pass a list of attributes/columns to the `values` parameter of the pivot table.

(b) Repeat the exercise above, but break down the average number of deaths and injuries using the cause for the accident. (Do not worry that each accident may have multiple causes.) You will need to **join** the tables `collisions` and `vehicles_involves`; you can do the join either in SQL or in pandas, using the `pd.merge` command. Use the `sort_values` command to sort the results, putting on top the contributing factors that generate the highest number of deaths. Limit to the 10-deadliest causes.

#### Solution

In [ ]:
pd.pivot_table(
    data = c,
    index = 'BOROUGH',
    aggfunc = 'mean',
    values = ['PERSONS_INJURED', 'PERSONS_KILLED']
)

In [ ]:
# By keeping only the minimum attributes that we need, we speed up
# the execution, as we do not bring back data that we will discard anyway
sql = '''
  SELECT C.PERSONS_INJURED, C.PERSONS_KILLED, V.CAUSE
  FROM collisions C JOIN vehicles_involved V ON C.UNIQUE_KEY = V.UNIQUE_KEY
'''
result = pd.read_sql(sql, con=mysql_conn)

In [ ]:
pd.pivot_table(
    data = result,
    index = 'CAUSE',
    aggfunc = 'mean',
    values = ['PERSONS_INJURED', 'PERSONS_KILLED']
).sort_values('PERSONS_KILLED', ascending=False).head(10)

### Task 6

Break down the number of accidents by borough and contributing factor. Use the `pivot_table` function of Pandas

#### Solution

In [ ]:
# By keeping only the minimum attributes that we need, we speed up
# the execution, as we do not bring back data that we will discard anyway
sql = '''
  SELECT C.BOROUGH,  V.CAUSE, COUNT(DISTINCT C.UNIQUE_KEY) AS cnt
  FROM collisions C JOIN vehicles_involved V ON C.UNIQUE_KEY = V.UNIQUE_KEY
  GROUP BY C.BOROUGH,  V.CAUSE
'''
result = pd.read_sql(sql, con=mysql_conn)

In [ ]:
pivot = pd.pivot_table(
    data = result, # we analyze the df (accidents) dataframe
    index = 'CAUSE', 
    columns = 'BOROUGH', 
    values = 'cnt', 
    aggfunc = 'sum'
)

# Create an extra column showing the total deaths across boroughs (=columns)
pivot["Total"] = pivot.sum(axis="columns") 

# Sort the dataframe by descending order of the values in the column "Total"
pivot = pivot.sort_values("Total", ascending=False)

pivot.head(10)

### Task 7

Find the dates with the most accidents. Can you figure out what happened on these days?

#### Solution

In [ ]:
(
  pd.pivot_table(
      data = c,
      index = 'DATE_TIME',
      values = 'UNIQUE_KEY',
      aggfunc = 'count'
  )
  .resample('1D').sum()
  .rename({"UNIQUE_KEY":"ACCIDENTS"}, axis="columns")
  .sort_values('ACCIDENTS')
)

### Task 8

Plot the number of accidents per day. (Hint: Ensure that your date column is in the right datatype and that it is properly sorted, before plotting)

#### Solution

In [ ]:
(
  pd.pivot_table(
      data = c,
      index = 'DATE_TIME',
      values = 'UNIQUE_KEY',
      aggfunc = 'count'
  )
  .resample('1W') # take periods of 1 week
  .sum() # sum the number of accidents per period
  .rename({"UNIQUE_KEY":"ACCIDENTS"}, axis="columns") # change the name of the variable
  .plot(figsize=(20,3)) # plot the result
)

### Task 9

We want to analyze the timing patterns of accidents that lead to death or injury.

We will do the analysis by creating histograms showing the frequency of deadly vs non-deadly accidents throughout the day. By comparing the two histograms we will be able to understand if time of day is correlated with deadly accidents or not.

Steps to follow:
* Ensure that the `CRASH TIME` column is converted to a datetime. The format is HH:MM, which can be written as `format="%H:%M"` in the `to_datetime` command of Pandas.
* Create a boolean column `DEATH` that is true when someone was killed in the accident (i.e., `NUMBER OF PERSONS KILLED > 0`). 
* Create a boolean column `INJURY` that is true when someone was injured in the accident (i.e., `NUMBER OF PERSONS INJURED > 0`). 
* Query the dataframe to get back the deadly accidents and create a histogram of deadly accidents over time. Do the same for non-deadly accidents.
* To allow a more direct visual comparison of the two histograms, we want to merge them in one plot. Since the number of accidents without deaths is *much* higher, we want the histograms to be normalized (i.e., `density=True`). 
* It is also a good idea to make the histographs partially transparent, to allow for easier comparison of the two histograms.

#### Solution

In [ ]:
# Define the indicator variables
df['INJURY'] = (df['NUMBER OF PERSONS INJURED']>0)
df['DEATH'] = (df['NUMBER OF PERSONS KILLED']>0)

df['CRASH TIME'] = pd.to_datetime(df['CRASH TIME'], format="%H:%M")

In [ ]:
# Define the two subsets
deadly_accidents = df[ df['DEATH'] == True ]
noharm_accidents = df[ df['DEATH'] == False ]

In [ ]:
deadly_accidents['CRASH TIME'].hist(
    bins=48, # one bar per half hour
    figsize=(20,10),  # make the figure bigger
    density=True, # normalize the counts
    alpha=0.5,  # make the histogram semi-transparent
    color='red' # color red the deadly accidents
)

noharm_accidents['CRASH TIME'].hist(
    bins=48,
    figsize=(20,10), 
    density=True,
    alpha=0.5, 
    color='green'
)

In [ ]:
injuries = df[ df['INJURY'] == True ]
no_injuries = df[ df['INJURY'] == False ]

In [ ]:
injuries['CRASH TIME'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='red')
no_injuries['CRASH TIME'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='green')

In [ ]:
deadly_accidents['CRASH DATE'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='red')
noharm_accidents['CRASH DATE'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='green')

In [ ]:
injuries['CRASH DATE'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='red')
no_injuries['CRASH DATE'].hist(bins=48,figsize=(20,10), density=True,alpha=0.5, color='green')

In [ ]:
import seaborn as sns

In [ ]:
sns.kdeplot(data = df, x ='CRASH TIME', hue='DEATH', common_norm=False, cut=0)

In [ ]:
sns.kdeplot(data = df, x ='CRASH TIME', hue='INJURY', common_norm=False, cut=0)