<a href="https://colab.research.google.com/github/ipeirotis/dealing_with_data/blob/master/11-Flask/B-Create_API_call_and_Connecting_to_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating of a Flask application showing Citibike stations


In this segment we will create a basic app, where we will connect to the Citibike database, and display the list of stations.

In [6]:
!pip install -U PyMySQL sqlalchemy flask flask-ngrok

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in /usr/local/lib/python3.10/dist-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /home/ubuntu/.local/lib/python3.10/site-packages (1.4.41)
Requirement already satisfied: flask in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: flask-ngrok in /home/ubuntu/.local/lib/python3.10/site-packages (0.0.25)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask) (2.2.2)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask) (3.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from flask-ngrok) (2.28.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2022.6.15)

## A Refresher 

Let's remember first how to get data from the database.

In [2]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = 'mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    db = 'citibike_fall2017',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4')

engine = create_engine(conn_string)

In [3]:
sql = "SELECT DISTINCT id, name, capacity, lat, lon  FROM status_fall2017 LIMIT 5"

with engine.connect() as connection:
  stations = connection.execute(sql).mappings().all()

for s in stations:
    print(s)
    print("-----")

{'id': 72, 'name': 'W 52 St & 11 Ave', 'capacity': 39, 'lat': 40.7673, 'lon': -73.9939}
-----
{'id': 79, 'name': 'Franklin St & W Broadway', 'capacity': 33, 'lat': 40.7191, 'lon': -74.0067}
-----
{'id': 82, 'name': 'St James Pl & Pearl St', 'capacity': 27, 'lat': 40.7112, 'lon': -74.0002}
-----
{'id': 83, 'name': 'Atlantic Ave & Fort Greene Pl', 'capacity': 62, 'lat': 40.6838, 'lon': -73.9763}
-----
{'id': 116, 'name': 'W 17 St & 8 Ave', 'capacity': 39, 'lat': 40.7418, 'lon': -74.0015}
-----

## Creating an API endpoint

#### Now let's start our server:

A few things to notice.

First, notice the `@app.route('/citibike_api',  methods=['GET'])` command. This part specifies that our API endpoint will be accessible under the `http://our_web_server_address/citibike_api`.


Then, we define the function `def citibike_stations():` that will create the response of that API call. What the function returns is what the API call will return back.

Notice that insider the `citibike_stations` function, we connect to the database, and issue an SQL query to the database.

Finally, we get back the results of the query, we put the results in a Python dictionary, and we use the `jsonify` function to convert our dictionary to JSON and return it as the API result.

In [7]:
from flask import Flask, render_template, jsonify
from flask_ngrok import run_with_ngrok
from sqlalchemy import create_engine
 
app = Flask(__name__)
run_with_ngrok(app)
 
@app.route('/citibike_api',  methods=['GET'])
def citibike_stations():
  
  # Setup a connection to the database
  conn_string = 'mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
      host = 'db.ipeirotis.org', 
      user = 'student',
      db = 'citibike_fall2017',
      password = 'dwdstudent2015',
      encoding = 'utf8mb4')
  engine = create_engine(conn_string)

  # Connect to the database, execute the query, and get back the results
  sql = "SELECT DISTINCT id, name, capacity, lat, lon  FROM status_fall2017" 
  with engine.connect() as connection:  
    rows = connection.execute(sql).mappings().all()
    
  # Create the response. We will put the retrieved data as a list of
  # dictionaries, under the key "stations".
  results = {"stations": []}
  for r in rows:
    results["stations"].append(dict(r))

  # We JSON-ify our dictionary and return it as the API response
  return jsonify(results)
 
app.run()

ModuleNotFoundError: No module named 'flask_ngrok'